version: 3

services:
    postgres:
      image: 'postgres:latest'

      container_name: postgres

      restart: always

      environment:
       - POSTGRES_PASSWORD=pr_service
       - POSTGRES_DB=pr_service_db


    pr-service:
      build: .
      
      container_name: pr-service

      ports: 8080:8080

      depends_on:
        - postgres

      volumes:
        - pr-service-data-volume:/project/data/

volumes:
  pr-service-data:
    name: pr-service-data
